/* base styles for nodes and edges: */
ellipse, polygon {
    fill: white;
    stroke: steelblue;
}

#rhsa ellipse { fill: #f33; }
#rhba ellipse { fill: #36f; }
#rhea ellipse { fill: #4bb2c5; }
#standalones ellipse { fill: gray; }

// vim:sw=4:ts=4:et:ft=css:
