[Unit]
Description=fleure wrapped 'dnf makecache'

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/sbin/fleure-dnf-makecache.sh
